:root {
	/* --nav-selected-color: rgb(127, 0, 147); */
	--nav-selected-color: rgb(0, 225, 255);
	--block-one-color: #e93eff4d;
	--block-two-color: rgba(82, 47, 255, 0.499);
	/* -- */
}
/* @keyframes color {
	0%   { background: #D700EA; }
	50%  { background: #581796; }
	100% { background: #D700EA; }
} */
 /* @keyframes color {
	0%   { background: #33CCCC; }
	20%  { background: #8233cc; }
	40%  { background: #B8CC33; }
	60%  { background: #FCCA00; }
	80%  { background: #33CC36; }
	100% { background: #33CCCC; }
  } */

  body {
	margin: 0;
	/* font-family: Arial, sans-serif; */
	font-family: 'Poppins', sans-serif;
	/* background-color: #D700EA; */
	background-color: #20013d;

	min-height: 100vh;
	min-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	overflow: auto;
  }

  /* Background Blur effects and block */
  .blur-cover {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(5vw);
	z-index: 0;
	/* background-color: red; */

  }
  .bg-block {
	background: rgba(255, 255, 255, .3);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border-radius: 50%;
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
	box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
	position: absolute;
	transition: all 0.2s ease;
	z-index: -1;
  }

  .block-1 {
	background: var(--block-one-color);
	height: 30vh; width: 30vh;
	/* height: 380px; width: 380px; */
	/* top: 0px; left: 150px; */
	top: 0;
	left: 0;
  }

  .block-2 {
	background: var(--block-two-color);
	height: 30vh; width: 30vh;
	/* height: 380px; width: 380px; */
	/* bottom: 75px; right: 75px; */
	right: 0;
	bottom: 0;
  }



  .main-container {
	flex-direction: row;
	display: flex;
	width: 90vw;
	height: 90vh;
	margin: 5vh auto;
	min-height: 665px;
	min-width: 750px;

	background: rgba(0, 0, 0, 0.379);

	-webkit-box-shadow: 2px 2px 22px 3px rgba(0,0,0,0.55);
	-moz-box-shadow: 2px 2px 22px 3px rgba(0,0,0,0.55);
	box-shadow: 2px 2px 22px 3px rgba(0,0,0,0.55);

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px outset rgba(149, 0, 255, 0.435);
	border-radius: 24px;
  }

  /* BARRE DE NAVIGATION */


  .vertical-menu {
	position: absolute;
	background-color: #570080;
	width: 90px;
	height: 88vh;
	min-height: 645px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
	border-radius: 10px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;

	border: 1px solid white;
	border-style: outset;

	margin-top: 1vh;
	margin-right: 0px;
	/* margin-bottom: 10px; */
	margin-left: 10px;

	/* From https://css.glass */
	background: rgba(62, 0, 77, 0.27);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.9px);
	-webkit-backdrop-filter: blur(5.9px);
	border: 1px solid rgba(255, 255, 255, 0.65);

	-webkit-box-shadow: 10px 10px 5px -5px rgba(173,173,173,1);
	-moz-box-shadow: 10px 10px 5px -5px rgba(173,173,173,1);
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.184);
  }

  .menu-item {
	background: none;
	color: #fff;
	border: 1px solid transparent;

	border-radius: 24px;

	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70px;
	height: 70px;
	padding: 10px;
	margin-bottom: 10px;

	z-index: 1;
	transition: .2s;
  }

  #selector-box {
	position: absolute;

	border-radius: 24px;

	background: rgb(48, 0, 48);
	backdrop-filter: blur(5.4px);
	-webkit-backdrop-filter: blur(5.4px);
	border: 1px solid var(--nav-selected-color);
	border-style: outset;

	-webkit-box-shadow: 10px 10px 24px -12px rgba(6, 0, 0, 0.39);
	-moz-box-shadow: 10px 10px 24px -12px rgba(6, 0, 0, 0.39);
	box-shadow: 10px 10px 24px -12px rgba(6, 0, 0, 0.39);

	height: 74px;
	width: 74px;
	z-index: 0;
	transition: .5s;
  }

  .menu-item i {
	opacity: 0.4;
	font-size: 24px;
	margin-bottom: 8px;
	transition: .5s;
  }

  .menu-item span {
	opacity: 0.4;
	font-size: 16px;
	transition: .5s;
  }

  .item-active span, .item-active i {
	opacity: 1;
	color: var(--nav-selected-color);
  }

  .n-3 span {
	font-size: 11px;
  }

  /* Bouton deconnexion */
  .fa-right-from-bracket {
	border: 2px dashed rgba(255, 0, 0, 0.342);
	/* background-color: #570080; */
	color: rgba(255, 0, 0, 0.342);
	/* border: none; */
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 18px;
	font-size: 26px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
}

.fa-right-from-bracket:hover {
	transition: .3s;
	border: 2px solid red;
	color: red;
	background-color: #6c2799;
  }
